/* For body and html */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* Common things for all */
.heading__common {
  text-align: center;
  
  font-size: 5rem;
  letter-spacing: 0.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}


/*Header portion*/
.header__container {
  height: 100vh;
  background-image: url(./img/12.jpg);

  background-size: cover;
  position: relative;
}

/* nav */

.nav__main {
  background-color: #000000d2;
  width: 100%;
  z-index: 999999;
  height: 10%;
}

.nav__main.sticky {
  position: fixed;
}

.nav__links-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
}

.nav__right {
  display: flex;
}

.nav__link {
  display: block;
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
  margin-right: 2.5rem;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

.nav__link::after {
  content: "";
  margin-top: 2px;
  display: block;
  height: 3px;
  background-color: #008cff;
  transform: scaleX(0);
  transition: all 0.3s;
}

.nav__link:hover {
  color:#008cff ;
}

.nav__link:hover::after {
  transform: scaleX(1);
}
/*hero section*/
.hero {
	position: relative;
	justify-content: center;
	text-align: center;

	/*color: black;*/
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
  text-shadow: 5px 5px 0px #008cff;
  margin-top: 32vh;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
  
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;

}
@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		max-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

.img{
	height: 600px;
	width:400px;
	border:2px solid black;
}
/* header */

.headerText__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heading__primary-main {
  text-transform: uppercase;
  display: block;
  color: #00FF7F;
  font-size: 8rem;
  letter-spacing: 4.4rem;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
 
                  
}

.heading__primary-description {
  display: block;
  color: #F5F5DC;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
}

/* Features section */
.features {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 15rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  grid-gap: 10rem;
}

.about__heading {
  font-size: 4rem;
  margin-bottom: -4rem;
  text-align: center;
  font-weight: 700;
   
  margin-top: 50px;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 3rem;
}

.fas {
  color: #0d98f5;
  margin-left: 10px;
  margin-right: 2px;
  grid-row: 1 / span 2;
  transform: translateY(-1rem);
}
.fa-lg{
  transform: none;
}

.feature__text {
  font-size: 1.6rem;
}

.heading--4 {
  color: #0d98f5;
  font-size: 2rem;
  font-weight: 700;
}

.heading--4:hover{
    text-decoration: underline;
  }

/* packages or Cards*/

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
}
.packages .box-container .box:hover{
  transform: scale(1.04);
}
.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
  border-radius: 15px;
  -webkit-filter: drop-shadow(5px 5px 5px #161616);
  filter: drop-shadow(5px 5px 5px #0f0f0f);
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
 
}

.packages .box-container .box .content h3 i{
  color:var(--anycolor);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:rgb(255, 187, 0);
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.packages .box:hover{
  box-shadow: 0 1rem 2rem rgb(0, 0, 0);
}
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
  border-radius: 30px;
  flex:1 1 30rem;
  height: 25rem;
  position: relative;
}
.gallery .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgb(0, 0, 0);
    transform: scale(1.07);
  }
.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0, 0, 0, 0.692);
  padding:2rem;
  padding-top: 5rem;

}

.gallery .box-container .box:hover .content{
  top:0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--anycolor);
}

.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding:.5rem 0;
}

.contactus{
 
    font-family: sans-serif;
    font-size: medium;
}


.contactus  .box1 {
        flex-wrap: wrap;
        width: 460px;
        height: 560px;
        border: 4px  solid white;
        border-radius: 10px;
        background-color: #e4e3fa;
        margin-left: 4%;
        margin-top: 4%;
        padding: 0px;
        box-shadow: 10px 20px 10px 10px  black ;
        
        
    }

    .contactus form{
        padding-left: 20px;
    }

    .contactus form input{

        padding: 8px;
        border-radius: 6px ;
        border: 2px solid grey;
        font-family: sans-serif;
        width:90%;
        
    }

    .contactus  input[type="button"]
        {

        border: none;
        background-color:orange;
        font-size: 18px;
        text-align: center;
        
        }

        .contactus   .box2
        
        {

            width: 400px;
            height: 200px;
            color: grey;
            border: 2px solid white;
            margin-top: -39%;
            margin-left: 50%;
            background-color: #e4e3fa;
            border-radius: 8px;
            padding: 8px;
            box-shadow: black 15px 20px 8px;

        }

        .contactus  .box3{

            border: 2px solid white;
            width: 400px;
            height: 300px;
            margin-top: 2%;
            margin-left: 50%;
            border-radius: 8px;
            box-shadow: black 20px 20px 10px ;
        }
       /* footer section*/
        .footer{
          background:#222222;
        }
        
        .footer .box-container{
          display: flex;
          flex-wrap: wrap;
          gap:1.5rem;
        }
        
        .footer .box-container .box{
          padding:1rem 0;
          flex:1 1 25rem;
        }
        
        .footer .box-container .box h3{
          font-size: 2.5rem;
          padding: 1px ;
          color:#fff;
          box-sizing:inherit;
        }
        
        .footer .box-container .box p{
          font-size: 1.5rem;
          padding:.7rem 0;
          color:#eee;
          text-transform: none;
        }
        .footer .box-container .box p i{
          color:var(--anycolor);
        }
        .footer .box-container .box a{
          display: block;
          font-size: 1.5rem;
          padding:.7rem 0;
          color:#eee;
        }
        
        .footer .box-container .box a:hover{
          color:var(--anycolor);
          text-decoration: underline;
        }
        
        .footer .credit{
          text-align: center;
          padding:2rem 1rem;
          margin-top: 1rem;
          font-size: 2rem;
          font-weight: normal;
          color:#fff;
          border-top: .1rem solid rgba(255,255,255,.2);
        }
        
        .footer .credit span{
          color:var(--anycolor);
        }

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  .row {
    flex-direction: column;
  }

  .about__section-img {
    width: 30%;
  }

  .about__section-img-1 {
    left: 18%;
    top: -1rem;
  }

  .about__section-img-2 {
    left: 43%;
    top: -1rem;
  }

  .about__section-img-3 {
    left: 68%;
    top: -1.5rem;
  }

  .about__section-img:hover {
    outline: 1rem solid #23b6e9;
    z-index: 100;
    transform: translateY(-1rem) scale(1.05);
    outline-offset: 1rem;
    transition: all 0.3s;
  }

  .about__heading {
    margin-top: 20rem;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 40%;
  }

  .contact {
    height: 70vh;
  }

  .contact__box {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.7)
      ),
      url(./img/nat-10.jpg);
  }

  .contact__box--left {
    width: 100%;
  }

  .review {
    flex-direction: column;
  }

  .review__img {
    align-self: center;
    height: 10rem;
    width: 10rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .contact {
    height: 60vh;
  }

  .contact__inp {
    margin-bottom: 7rem;
  }

  .review,
  .review__img,
  .review__right {
    transform: skew(0deg);
  }

  .heading__primary-main {
    font-size: 4.5rem;
    letter-spacing: 3;
  }

  .heading__primary-description {
    font-size: 2.5rem;
    letter-spacing: 2.5;
  }
}

@media only screen and (max-width: 25em) {
  .heading__primary-main {
    font-size: 3.5rem;
    letter-spacing: 2.5;
  }

  .heading__primary-description {
    font-size: 2rem;
    letter-spacing: 2;
  }
}
@media (max-width:768px){
  .nav__main{
    height: 8rem;
  }
}

.hinu {
 border: #191970;
 padding: 9px;
 margin: 7px;
 background-color:#101d2c;
}
